<div class="news-full">
    <img src="{{news.img}}" alt="{{news.title}}">
    <h1>{{news.title}}</h1>
    <p>{{news.description}}</p>
    {{#if news.price}}
        <p class="price big">{{news.price}}</p>
    {{/if}}
</div>