<h1>News</h1>

{{#if newsList.length }}
<div class="row">
{{#each newsList}}
   <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="{{img}}" alt="{{title}}" loading="lazy">
          <span class="card-title">{{title}}</span>
        </div>
        <div class="card-content">
          <p>{{description}}</p>
          {{#if price}}
          <p class="price">{{price}}</p>
          {{/if}}
        </div>
        <div class="card-action">
          <a href="/news/{{id}}" target="_blank">Read</a>
        </div>
      </div>
    </div>
{{/each}}
</div>
{{else}}
<p>News is empty</p>
{{/if}}